<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login | Musicms</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="__admin__/assets/i/favicon.png">
  <link rel="stylesheet" href="__admin__/assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Musicms</h1>
    <p>欢迎来到注册界面</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>注册</h3>
    <hr>
    <!--<div class="am-btn-group">-->
      <!--<a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>-->
      <!--<a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>-->
      <!--<a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>-->
    <!--</div>-->


    <form method="post" class="am-form">
      <p>用户名：</p>
      <input type="text" name="us_name" id="email" value="">

      <p for="password">密码:</p>
      <input type="password" name="us_psw" id="password" value="">
      <br>


      <label for="user-intro" >简介 / Intro</label>
      <textarea class="" rows="5" id="user-intro" placeholder="输入个人简介" name="us_other"></textarea>
      <small>250字以内写出你的一生...</small>
      <br>
      <br>

      <div class="am-cf">
        <input type="submit" name="" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
    <hr>
    <p>© 2018 Hayet Licensed under MIT license.</p>
  </div>
</div>
</body>
</html>
