<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
  <div class="am-offcanvas-bar admin-offcanvas-bar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="{:url('Index/index')}"><span class="am-icon-home"></span> 首页</a></li>
      <li><a href="{:url('Songlist/song')}"><span class="am-icon-file"></span> 歌曲列表</a></li>
      <li><a href="{:url('Singerlist/singer')}"><span class="am-icon-th"></span> 歌手列表</a></li>
      <li><a href="{:url('Albumlist/album')}"><span class="am-icon-table"></span> 专辑列表</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>时光静好，与君语；细水流年，与君同</p>
      </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-tag"></span> TIPS</p>
        <p>Welcome to the Musicms!</p>
      </div>
    </div>
  </div>
</div>